    {% extends 'core/core.html' %}
    {% load static %}

    {% block content %}
    <div class="min-h-screen flex items-center justify-center bg-[#fde68a]">
        <div id="div" class="bg-[#fef3c7] p-8 rounded-2xl shadow-md w-full max-w-md text-center">
            <h2 class="text-3xl font-extrabold text-[#f87171] mb-6">Reset Password</h2>

            <form method="post" id="username-form">
                {% csrf_token %}
                <div class="inputGroup">
                    <input type="text" name="username" id="username" required autocomplete="username" />
                    <label for="username">Insert you Username</label>
                </div>

                <button type="submit" class="w-full mt-4 bg-[#f87171] text-white font-bold py-2 px-4 rounded-full shadow hover:bg-[#ef4444] transition-all duration-300">
                    Reset Password
                </button>
            </form>
        </div>
    </div>

<script>
    const form = document.getElementById('username-form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;

        const formData = new URLSearchParams();
        formData.append('username', username);

        fetch('{% url "api_password_reset" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData
        });

        form.remove();
        const message = document.createElement('p');
        const secondMessage = document.createElement('p');
        const loginButton = document.createElement('button');

        message.classList.add('text-center', 'text-[#6b7280]', 'mt-4');
        secondMessage.classList.add('text-center', 'text-[#6b7280]', 'mt-4');
        loginButton.classList.add('w-full', 'mt-4', 'bg-[#f87171]', 'text-white', 'font-bold', 'py-2', 'px-4', 'rounded-full', 'shadow', 'hover:bg-[#ef4444]', 'transition-all', 'duration-300');

        message.textContent = 'If the username exists, an email will be sent with the steps to follow in order to change the password. This code last for 1 hour.';
        secondMessage.textContent = 'This can take up to 5 minutes, please be patient.\n If you don\'t receive the email, please check your spam folder.';
        loginButton.textContent = 'Go to Login';

        loginButton.addEventListener('click', () => {
            window.location.href = '{% url "custom_login" %}';
        });

        const container = document.getElementById('div');
        container.appendChild(message);
        container.appendChild(secondMessage);
        container.appendChild(loginButton);
    });
</script>


    {% endblock %}